<h1>WELCOME!</h1>
<h2>LOG IN:</h2>
<ul>
  <li><a href="/manager/login">Manager</a></li>
  <li><a href="/">Coach</a></li>
  <li><a href="/members">Member</a></li>
</ul>

<h2>BECOME A MEMBER</h2>
<ul>
  <li><a href="/register">register here</a></li>
</ul>
