<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>TennisClub Management</title>
    </head>
    <body>
    <nav>
      <p>LOGIN:</p>
      <ul>
        <li><a href=""></a>Manager</li>
        <li><a href=""></a>Coach</li>
        <li><a href=""></a>Member</li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
    </body>
    </html>
