<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>TennisClub Management</title>
        <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    </head>
    <body>
    <nav>
      <h1>TENNIS CLUB MANAGEMENT</h1>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/members">Member</a></li>
        <li><a href="/">Coach</a></li>
        <li><a href="/manager/login">Manager</a></li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
    </body>
    </html>
