
<form class="registration" action="/register/:id/create" method="post">
  <label for="first_name">First name:</label>
  <input id="first_name" type="text" name="first_name"/>

  <label for="last_name">Last name:</label>
  <input id="last_name" type="text" name="last_name"/>

  <label for="membership_type">Membership type:</label>
  <select id="membership-select" name="membership_type">
    <option selected value="full">Full</option>
    <option value="junior">Junior</option>
    <option value="student">Student</option>
  </select>

  <label for="date_of_birth">Date of birth: </label>
  <input id="date_of_birth" type="date" name="date_of_birth"/>

  <label for="opt_in_wimbledon">Wimbledon ballot:</label>
  <select id="opt_in_wimbledon" name="opt_in_wimbledon">
    <option selected value=1>opt in</option>
    <option value=0>opt out</option>
    <option value=0>decide later</option>
  </select>


  <input type="submit" value="register"/>

</form>
