<h1>Welcome <%= @member.first_name %>!</h1>


<div class="member_options">
  <ul>
    <li><a href="/members/<%= @member.id %>/classes">classes</a></li>
    <li><a href="/members/<%= @member.id %>/courts">courts</a></li>
    <li><a href="/members/<%= @member.id %>/bookings">my bookings</a></li>
  </ul>
</div>
