<h1>all the club members</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.first_name %></a></td>
    <td>|</td>
    <td><%= member.membership_type %></td>
  </tr>
  <% end %>
</table>
