

body {
  background-size: 100%;
  background-repeat: no-repeat;
  color: green;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-left:auto;
  margin-right:auto;
  background-color: #F7EE7F;
}

h1, h2, h3, h5, h6 {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  /* text-decoration: underline; */
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0px;
}

form {
  position: relative;
  width  : 440px;
  height : 400px;
  margin : 0 auto;
  background: #FFF5D1;
  justify-content: center;
  align-items: center;
}



form label input {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
}


nav ul li {
  width: 200px;
  height: 300px;
  display: block;
  position: relative;
  padding-right: 30px;
  display: inline;
}

nav::after {
  content: "";
  background-image: url('/images/TennisClubManager.jpg');
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

li {
  list-style-type: none;
  padding-right: 0px;
}

table {
  border: 1px solid green;
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.software_name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 2px 2px 8px #FF0000;
  opacity: 1;
}

.field {
  padding: 20px;
}
