<h1>Welcome manager!</h1>



<div class="manager_options">
  <h2>from here you can manage:</h2>
  <ul>
    <li><a href="/manager/memberships">memberships</a></li>
    <li><a href="/manager/index">courts</a></li>
    <li><a href="/manager/classes">classes</a></li>
    <li><a href="/manager/index">bookings</a></li>
  </ul>
</div>
